.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    background: rgb(0, 0, 0);
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
}

.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
}

.my-message {
    background: rgb(22, 186, 55);
    color: #fff;
}

.other-message {
    background: rgb(18, 106, 61);
    color: #fff;
}

.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}

.bg-color{
    --background: rgb(88, 172, 129);
}

ion-content{
    --overflow:hidden;
    --background: none;
    background: url("../../assets/Meteor.png");
    background-size: cover;
    background-position: center center;              
  }