<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >

  <div class="container">
<div>
  <input type="text" class="inputText" placeholder="Mail" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
</div>
<div>
  <input type="password" class="inputText" placeholder="Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
</div>

  <ion-row>
    <ion-col>
      <ion-button class="bottom" type="submit" color="tertiary" expand="block" (click)="signIn()" expand="full" style="margin-top:5vh">Aceptar</ion-button>
      <ion-fab class="flexContainer" style="position:relative">
        <ion-button color="danger" (click)="login(1)">Usuario 1</ion-button>
        <ion-button color="danger" (click)="login(2)">Usuario 2</ion-button>
        <ion-button color="danger" (click)="login(3)">Usuario 3</ion-button>
      </ion-fab>
    </ion-col>
  </ion-row>
  </div>
</ion-content>